.brand-container {
  width: 100%;
  height: 100%;
  .brand-banner {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10% 10%;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    h1{
      font-size: 60px;
      font-family: prompt-bold;
    }
    h3{
      font-size: 35px;
      font-family: prompt-semibold;
    }
    h1,
    h3 {
      text-align: center;
      color: rgb(143, 241, 143);
      z-index: 8;
    }
    img{
      position: absolute;
      top: 0;
      bottom: 0;
      width: 40%;
      height: 100%;
      z-index: 3;
    }
  }
  .products-boxes{
    border-top: 1px solid #252525;
    display: flex;
    width: 100%;
    padding: 0 5%;
    flex-wrap: wrap;
    .prod{
      position: relative;
      width: 22%;
      height: 260px;
      margin: 1.5%;
      border: 1px solid #252525;
      .abs-container{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        .cmimi,
        .zbritja{
          font-size: 16px;
          font-family: prompt-medium;
        }
        .cmimi{
          padding: 5px;
          background-color: #252525;
          color: white;
        }
        .zbritja{
          padding: 2px 7px;
          color: red;
        }
      }
      .producti-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 2%;
        gap: 2px;

    
        display: flex;
        .product-img{
          width: 100%;
          height: 80%;
          border: 1px solid #252525;
          img{
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }
        .product-info{
          display: flex;
          width: 100%;
          height: 18%;
          justify-content: end;
          a{
            display: flex;
            justify-content: center;
            align-items: center;
            // margin: 2%; 
            padding: 2%;
            z-index: 3;
            background-color: rgb(143, 241, 143);
            font-size: 12px;
            font-family: prompt-light;
            cursor: pointer;
            color:  white;
            
            &:hover{
              transition:ease-in-out 0.2s;
              transform: scale(0.9);
            }
          }
        }
      }
      &:hover{
        transition: ease-in-out 0.2s;
        border: 3px solid;
        border-color: rgb(143, 241, 143);
      }
    }
  }
}
