.products-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 5%;
  .products-filter{
    width: 97%;
    padding: 12px 0;
    margin: 0 1.5%;
    border: 1px solid #252525;
    .filter-form{
      width: 100%;
      padding: 0 2%;
      display: flex;
      justify-content: space-between;
      .search-container{
        input{
          width: 150px;
          padding: 5px;
          border: 1px solid #252525;
          border-radius: 10px;
          font-size: 16px;
          font-family: prompt-light;
        }
      }
      .brands-filter,
      .category-filter{
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .products-boxes{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    .prod{
      position: relative;
      width: 22%;
      height: 260px;
      margin: 1.5%;
      border: 1px solid #252525;
      .abs-container{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        .cmimi,
        .zbritja{
          font-size: 16px;
          font-family: prompt-medium;
        }
        .cmimi{
          padding: 5px;
          background-color: #252525;
          color: white;
        }
        .zbritja{
          padding: 2px 7px;
          color: red;
        }
      }
      .producti-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 2%;
        gap: 2px;

    
        display: flex;
        .product-img{
          width: 100%;
          height: 80%;
          border: 1px solid #252525;
          img{
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }
        .product-info{
          display: flex;
          width: 100%;
          height: 18%;
          justify-content: end;
          a{
            display: flex;
            justify-content: center;
            align-items: center;
            // margin: 2%; 
            padding: 2%;
            z-index: 3;
            background-color: rgb(143, 241, 143);
            font-size: 12px;
            font-family: prompt-light;
            cursor: pointer;
            color:  white;
            
            &:hover{
              transition:ease-in-out 0.2s;
              transform: scale(0.9);
            }
          }
        }
      }
      &:hover{
        transition: ease-in-out 0.2s;
        border: 3px solid;
        border-color: rgb(143, 241, 143);
      }
    }
  }
}
@media(max-width:1000px){
  .products-container{
    .products-boxes{
      width: 100%;
      .prod{
        width: 47%;
      }
    }
  }
}
@media(max-width: 570px){
  .products-container{
    .products-filter{
      .filter-form{
        .search-container{
          input{
            width: 100px;
            font-size: 10px;
          }
        }
        .brands-filter,.category-filter{
          label{
            font-size: 13px;
          }
          select{
            font-size: 9px;
            width: 50%;
          }
        }
      }
    }
    .products-boxes{
      .prod{
        width: 100%;
      }
    }
  }
}
@media(max-width: 430px){
  .products-container{
    .products-filter{
      .filter-form{
        .search-container{
          input{
            width: 70px;
            font-size: 8px;
          }
        }
      }
    }
  }
}